* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    margin-top: 10%;
    background-color: #EEEDEB;
}

.app-info-container {
    margin: 20px 0px 0px 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.app-info-container img {
    width: 140px;
    height: 120px; 
    /* border-radius: 50px;
    border: 2px solid var(--theme-color); */
}

.login-container {
    margin-top: 20%; 
}

.login-container h2 {
    margin: 20px 0px 0px 10px;
}

.login-container form {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.login-container form .forgot-password {
    margin: 15px 30px 0px 0px; 
    align-self: flex-end; 
}

.login-container form p a {
    text-decoration: none;
    color: #466546;
}

.login-container form input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #DEE3DD;
    padding: 15px;
    margin-top: 14px;
    font-size: 16px;
}

.login-container form input::placeholder {
    font-size: 16px; 
}

.login-container .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.login-container .submit-button button {
    width: 50%;
    height: 60px;
    border: none;
    color: white;
    font-size: 18px;
    background-color: var(--theme-color);
    border-radius: 10px;
    margin-bottom: 10px; 
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.login-container .register-link {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.login-container .register-link p{
    font-size: 16px;
}

.login-container .register-link a {
    text-decoration: none;
    color: var(--theme-color);   
}